@import "./Default.scss";

.wrapper{
    @include position(flex,unset,unset);
    flex-direction: column;
    width: 70%; height: 100%;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    overflow-y: scroll;
    gap: 10px;
}
::-webkit-scrollbar-thumb {
    border: 2px solid black;
    border-radius: 15px;
    background-color: dimgrey;
    border-right: 1px solid black !important;
}